In [1]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [8]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Polygon, LineString, Point
import math
import warnings
warnings.filterwarnings(action='ignore')
#import descartes


from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [3]:
%cd E:\yujin\INHA\data

E:\yujin\INHA\data

In [4]:
table_raw = pd.read_csv("테이블.csv", encoding='cp949', index_col=0)
table_raw

,area,주차면수,lon,lat,geometry,category,소유주체,급속/완속,완속충전기_설치가능여부,인구분포,자동차등록현황,administration,전기차증가량
0,4189.00,161.0,127.586883,34.970324,POINT (127.5868828 34.97032367),주차장,1,NaN,1.0,0.241079,0.045100,광양읍,1.262407
1,2968.00,125.0,127.695428,34.936252,POINT (127.6954279 34.93625189999999),주차장,1,NaN,1.0,0.591851,0.648245,중마동,-0.162234
2,2836.00,89.0,127.584586,34.975637,POINT (127.5845858 34.97563677),주차장,1,NaN,1.0,0.039610,-0.130978,광양읍,1.262407
3,1980.00,52.0,127.580683,34.970130,POINT (127.5806828 34.97013011),주차장,1,NaN,1.0,0.266335,0.044476,광양읍,1.262407
4,1970.00,64.0,127.580707,34.972523,POINT (127.5807067 34.97252282),주차장,1,NaN,1.0,0.199328,-0.024593,광양읍,1.262407
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,79.95,0.0,127.768449,34.985126,POINT (127.7684494 34.98512629),휴게소,2,NaN,0.0,-0.679153,-0.321148,진월면,-1.171355
1206,48.00,0.0,127.768300,34.984707,POINT (127.7682997 34.98470653),휴게소,2,NaN,0.0,-0.681891,-0.323314,진월면,-1.171355
1207,77.49,0.0,127.769068,34.985767,POINT (127.7690681 34.98576671),휴게소,2,NaN,0.0,-0.647752,-0.292788,진월면,-1.171355
1208,54.00,0.0,127.769183,34.985841,POINT (127.7691831 34.98584074),휴게소,1,NaN,0.0,-0.643474,-0.287183,진월면,-1.171355
1209,2195.59,8.0,127.769283,34.985714,POINT (127.7692825 34.98571365),휴게소,2,NaN,0.0,-0.637048,-0.280342,진월면,-1.171355

In [5]:
train_table = table_raw[['category','인구분포', '자동차등록현황','전기차증가량']]
train_table['충전기'] = 0
for i in range(len(train_table)):
    if train_table['category'][i] == '충전기':
        train_table['충전기'][i] = 1
        
train_table.drop(['category'], axis=1, inplace=True )
train_table

          인구분포   자동차등록현황    전기차증가량  충전기
0     0.241079  0.045100  1.262407    0
1     0.591851  0.648245 -0.162234    0
2     0.039610 -0.130978  1.262407    0
3     0.266335  0.044476  1.262407    0
4     0.199328 -0.024593  1.262407    0
...        ...       ...       ...  ...
1205 -0.679153 -0.321148 -1.171355    0
1206 -0.681891 -0.323314 -1.171355    0
1207 -0.647752 -0.292788 -1.171355    0
1208 -0.643474 -0.287183 -1.171355    0
1209 -0.637048 -0.280342 -1.171355    0

[1210 rows x 4 columns]

In [6]:
train_table.iloc[:,:3]

          인구분포   자동차등록현황    전기차증가량
0     0.241079  0.045100  1.262407
1     0.591851  0.648245 -0.162234
2     0.039610 -0.130978  1.262407
3     0.266335  0.044476  1.262407
4     0.199328 -0.024593  1.262407
...        ...       ...       ...
1205 -0.679153 -0.321148 -1.171355
1206 -0.681891 -0.323314 -1.171355
1207 -0.647752 -0.292788 -1.171355
1208 -0.643474 -0.287183 -1.171355
1209 -0.637048 -0.280342 -1.171355

[1210 rows x 3 columns]

In [26]:
x_train, x_test, y_train, y_test = train_test_split(train_table.iloc[:,:3], train_table['충전기'], test_size=0.3, random_state=5)
y_train = y_train.values.ravel()

In [27]:
model = LogisticRegression(solver='saga', max_iter=10000)

In [28]:
model.fit(x_train, y_train)

LogisticRegression(max_iter=10000, solver='saga')

In [29]:
model.predict(x_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [30]:
model.score(x_test, y_test)

0.9614325068870524

In [25]:
len(train_table[train_table['충전기']==1])

44

In [ ]:
model=Sequential()
model.add(Dense(1, input_dim=1, activation='sigmoid'))
sgd=optimizers.SGD(lr=0.01)
model.compile(optimizer=sgd ,loss='binary_crossentropy',metrics=['binary_accuracy'])
# 옵티마이저는 경사하강법 sgd를 사용합니다.
# 손실 함수(Loss function)는 binary_crossentropy(이진 크로스 엔트로피)를 사용합니다.
model.fit(X,y, batch_size=1, epochs=200, shuffle=False)
# 주어진 X와 y데이터에 대해서 오차를 최소화하는 작업을 200번 시도합니다.